<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #removeEmployee="ngForm">
        <div class="form-group">
          <label for="del">Id of the employee to remove</label>
          <input type="number" [(ngModel)]="employee.id" 
            class="form-control" 
            id="del" 
            name="del" 
            placeholder="Enter the id of the employee to remove"
            required #del="ngModel">
        </div>
        <div [hidden]="!del.pristine" class="alert alert-danger">Id is required</div>
        <button type="submit" [disabled]="!removeEmployee.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
